html, body{
  height:100vh;
  width:100vw;
  margin:0;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#222;
}

#hider{
  position:relative;
  overflow:hidden;
  min-width:10px;
  min-height:10px;
  border-radius:50%;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#fitter{
  position:relative;
}

#wrapper{
  position:relative;
  z-index:2;
  font-size:32pt;
}

canvas, video{
  position:absolute;
  left:0;
  top:0;
}

canvas{
  opacity:0.4;
}

#highPoint, #lowPoint, #leftPoint, #rightPoint{
  position:absolute;
  top:-2500px;
  left:-2500px;
  background:rgba(0,0,0,0);
  z-index:3;
}

#highPoint, #lowPoint{
  width:10000px;
  height:1px;
}

#leftPoint, #rightPoint{
  width:1px;
  height:10000px;
}

#nosePoint{
  position:absolute;
  height:20px;
  width:20px;
  background: radial-gradient(circle at 65% 15%, #f5c4ba 1px, #e65e54 3%, #d0190e 60%, #83231f 100%);  
  z-index:3;
  border-radius:50%;
}