html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

#inputWrapper {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 960px;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  padding-left: 30px;
  color: white;
}

#inputWrapper .text {
  color: white;
  font-weight: bolder;
  margin-top: -90px;
  margin-left: 230px;
  font-family: "Fira Code", consolas;
  color: #999;
}

#outputWrapper {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 960px;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  padding-right: 30px;
  color: white;
}

.singleChartWrapper {
  width: 230px;
  height: 160px;
}

#center {
  position: relative;
  overflow: hidden;
  min-width: 480px;
  min-height: 480px;
}

.overlay,
video {
  position: absolute;
  left: 0;
  top: 0;
}

.overlay {
  transform: rotateY(180deg);
}

video {
  opacity: 0;
}

#emotion {
  font-size: 32pt;
  color: #14cc60;
  background: transparent;
  border: none;
  font-family: "Fira Code", consolas;
  position: absolute;
  margin-top: 250px;
  cursor: default;
  text-align: center;
  width: 300px;
}

#loading {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.3s opacity;
  z-index: 8;
}

#loading::before {
  content: "";
  margin: auto;
  animation: rotation 1s infinite linear;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 0.7);
  height: 4em;
  width: 4em;
}

#loading.done {
  opacity: 0;
  pointer-events: none;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

#overlay {
  transform: rotateY(180deg);
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.buttons {
  font-size: 32pt;
  color: #14cc60;
  background: transparent;
  border: none;
  font-family: "Fira Code", consolas;
  position: absolute;
  margin-top: -300px;
  cursor: default;
  text-align: center;
}

#inputWrapper button {
  width: 100%;
  margin: 4px 0 0;
}

button {
  line-height: 30px;
  border: 1px solid #14cc60;
  background: transparent;
  color: #14cc60;
  padding: 0 10px;
  font-family: "Fira Code", consolas;
}

/* RULEBASE.HTML */

#rulebase-wrapper {
  color: #14cc60;
  font-family: "Fira Code", consolas;
  height: 100%;
  text-align: center;
}

#rulebase-title {
  font-size: 32pt;
  margin-top: 15%;
}

td {
  font-size: 18pt;
  border: #14cc60 2px solid;
  padding: 20px;
  text-align: center;
}

#rulebase-diagram {
  padding-bottom: 10%;
}
